 @import "utilidades/variables";
 @import "utilidades/extend";
 @import "utilidades/mixin";
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgc{
    background-color: $principal;
}

.icon{
    @extend %icon;
  }

.text{
    @include text;

}
header{
    border-bottom: 1px solid $secundario;
}
.navbar .nav-link {
    color: $secundario; 
    text-align: right;
    gap: 20px;
}
.img{
    @extend %img;
}

.navbar .nav-link:hover {
    color: #fa0ce6 ;
  }

main{
    display: grid;
    background-color: $principal;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(4,100px);

    .img-3{
        display: none;
    }
    .img-2{
        display: none;
    }
    .img-1{
        display: none;
    }
}
