 @import "utilidades/variables";
 @import "utilidades/extend";
 @import "utilidades/mixin";
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    background-color: $principal;
}

.icon{
    @extend %icon;
  }

.text{
    @include text;

}
.navbar .nav-link {
    color: $secundario; 
    text-align: right;
}

.navbar .nav-link:hover {
    color: #fa0ce6 ;
  }
main{
    display: grid;
}
